@@include("./common/head.html", {
	"title": "С нами класс! Акция для экономных родителей"
})
		
		@@if (server === "dnevnik" || server === "local"){

			@@include("./pages/home.html", {
				"linkLogo": "http://www.ozon.ru/?partner=dnevnik_ru&partnerAgentId=dn_sp_sopt",
				"linkBooks": "http://www.ozon.ru/context/div_book/?partner=dnevnik_ru&partnerAgentId=dn_sp_sopt",
				"linkPens": "http://www.ozon.ru/context/div_writing/?partner=dnevnik_ru&partnerAgentId=dn_sp_sopt",
				"linkChoose": "http://www.ozon.ru/context/back-to-school/?partner=dnevnik_ru&partnerAgentId=dn_sp_sopt"
			})

		}

		@@if (server === "mosreg"){

			@@include("./pages/home.html", {
				"linkLogo": "http://www.ozon.ru/?partner=dnevnik_ru&partnerAgentId=mr_sp_sopt",
				"linkBooks": "http://www.ozon.ru/context/div_book/?partner=dnevnik_ru&partnerAgentId=mr_sp_sopt",
				"linkPens": "http://www.ozon.ru/context/div_writing/?partner=dnevnik_ru&partnerAgentId=mr_sp_sopt",
				"linkChoose": "http://www.ozon.ru/context/back-to-school/?partner=dnevnik_ru&partnerAgentId=mr_sp_sopt"
			})

		}


@@include("./common/foot.html", {})
