@charset "UTF-8";
/* ==========================================================================
 * container
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{

	padding: 70px 0 70px;

	&__wrap{
		@include clearfix;
		max-width: 1320px;
		padding: 0 20px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 20px;
		font-weight: 400;
		font-size: 41px;
	}
}

/* ==========================================================================
 * header
 * ========================================================================== */

.header{
	padding: 20px 0 0;

	&:after{
		content: '';
		margin: 20px 0 0;
		display: block;
		height: image-height('../assets/images/header.jpg');
		background: url(../images/header.jpg) 50% 0 no-repeat;
	}
}


/* ==========================================================================
 * logo
 * ========================================================================== */

.logo{
	display: inline-block;
	@include sprite($ozon);
	text-indent: -9999px;
}


/* ==========================================================================
 * abput
 * ========================================================================== */

.about{

	&__title{
		margin: 0 0 5px;
	}

	&__text{
		text-align: center;
		margin: 0 auto 50px;
		max-width: 870px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__discount{
		color: $red;
		font-size: 41px;
		font-weight: 700;
	}

	&__books{
		margin: 0 auto 50px;
		width: 650px;
	}
}

/* ==========================================================================
 * about-books
 * ========================================================================== */

.about-books{

	position: relative;

	&:before{
		content: '';
		display: block;
		float: left;
		@include sprite($books);
	}

	&:after{
		content: '';
		display: block;
		@include sprite($arrow);
		position: absolute;
		bottom: 55%;
		left: 100%; 
	}

	&__content{
		margin: 0 0 0 150px;
		padding: 15px 0 0;
		text-align: center;
	}

	&__new-price{
		color: $red;
		font-size: 92px;
		font-weight: 700;
	}

	&__cur{
		font-size: 53px;
	}

	&__old-price{
		font-size: 53px;
		text-decoration: line-through;
	}
}

/* ==========================================================================
 * how
 * ========================================================================== */

.how{

	padding: 0;

	&__wrap{
		border-top: 1px solid #a8a8a8;
		border-bottom: 1px solid #a8a8a8;
		padding-top: 70px;
		padding-bottom: 80px;
	}

	&__title{
		margin: 0 0 80px;
	}

	&__list-placeholder{
		margin: 0 auto 50px;
		max-width: 1140px;
	}

	&__list{
		text-align: center;
		margin: 0 -3% -30px;
	}
	
	&__item{
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 27%;
		margin: 0 2.5% 30px;
	}

	&__button-placeholder{
		text-align: center;
	}
}

.how-item{

	padding: 20px 0 0 170px;
	position: relative;

	min-height: 150px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--1:before{
		@include sprite($how-1);
	}

	&--2:before{
		@include sprite($how-2);
	}

	&--3:before{
		@include sprite($how-3);
	}

	&__title{
		font-weight: 700;
		margin: 0 0 15px;
		font-size: 20px;
	}
}

/* ==========================================================================
 * share
 * ========================================================================== */

.share{

	padding: 120px 0 60px;
	
	&__content{
		padding: 0 195px;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			@include sprite($megafon);
			top: 0;
			left: 0;
		}
	}

	&__text{
		text-align: center;	
		margin: 0 0 40px;
	}

	&__button-placeholder{
		text-align: center;
	}

	&__result{
		text-align: center;
	}
}

 /* ==========================================================================
  * conditions
  * ========================================================================== */
 

.conditions{

	&__opener-placeholder{
		margin: 0 0 20px;
	}
	
	&__opener{
		color: $blue;
		font-size: 20px;
	}

	&__text{
		font-size: 12px;
	}
}
